/* Mini-CSS Reset - Written by Jeremy Mills */
html,body,div,span,table,h1,h2,h3,ul,li,p,audio,video{margin:0px;padding:0px;border:0;line-height:1;display:block;}
ul,ol{margin-left:20px;list-style-type:bullet;}
